<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.KyProjectDeclarationMapper">

    <resultMap type="KyProjectDeclaration" id="KyProjectDeclarationResult">
        <result property="id"    column="id"    />
        <result property="originalPolicyId"    column="original_policy_id"    />
        <result property="status"    column="status"    />
        <result property="declarationCategory"    column="declaration_category"    />
        <result property="supportingIndustries"    column="supporting_industries"    />
        <result property="closingDate"    column="closing_date"    />
        <result property="declaredAmount"    column="declared_amount"    />
        <result property="contactNumber"    column="contact_number"    />
    </resultMap>

    <sql id="selectKyProjectDeclarationVo">
        select id, original_policy_id, status, declaration_category, supporting_industries, closing_date, declared_amount, contact_number from ky_project_declaration
    </sql>

    <select id="selectKyProjectDeclarationList" parameterType="KyProjectDeclaration" resultMap="KyProjectDeclarationResult">
        <include refid="selectKyProjectDeclarationVo"/>
        <where>
            <if test="originalPolicyId != null "> and original_policy_id = #{originalPolicyId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="declarationCategory != null  and declarationCategory != ''"> and declaration_category = #{declarationCategory}</if>
            <if test="supportingIndustries != null  and supportingIndustries != ''"> and supporting_industries = #{supportingIndustries}</if>
            <if test="closingDate != null "> and closing_date = #{closingDate}</if>
            <if test="declaredAmount != null "> and declared_amount = #{declaredAmount}</if>
            <if test="contactNumber != null  and contactNumber != ''"> and contact_number = #{contactNumber}</if>
        </where>
    </select>

    <select id="selectKyProjectDeclarationById" parameterType="Long" resultMap="KyProjectDeclarationResult">
        <include refid="selectKyProjectDeclarationVo"/>
        where id = #{id}
    </select>

    <insert id="insertKyProjectDeclaration" parameterType="KyProjectDeclaration" useGeneratedKeys="true" keyProperty="id">
        insert into ky_project_declaration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="originalPolicyId != null">original_policy_id,</if>
            <if test="status != null">status,</if>
            <if test="declarationCategory != null">declaration_category,</if>
            <if test="supportingIndustries != null">supporting_industries,</if>
            <if test="closingDate != null">closing_date,</if>
            <if test="declaredAmount != null">declared_amount,</if>
            <if test="contactNumber != null">contact_number,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="originalPolicyId != null">#{originalPolicyId},</if>
            <if test="status != null">#{status},</if>
            <if test="declarationCategory != null">#{declarationCategory},</if>
            <if test="supportingIndustries != null">#{supportingIndustries},</if>
            <if test="closingDate != null">#{closingDate},</if>
            <if test="declaredAmount != null">#{declaredAmount},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
        </trim>
    </insert>

    <update id="updateKyProjectDeclaration" parameterType="KyProjectDeclaration">
        update ky_project_declaration
        <trim prefix="SET" suffixOverrides=",">
            <if test="originalPolicyId != null">original_policy_id = #{originalPolicyId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="declarationCategory != null">declaration_category = #{declarationCategory},</if>
            <if test="supportingIndustries != null">supporting_industries = #{supportingIndustries},</if>
            <if test="closingDate != null">closing_date = #{closingDate},</if>
            <if test="declaredAmount != null">declared_amount = #{declaredAmount},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKyProjectDeclarationById" parameterType="Long">
        delete from ky_project_declaration where id = #{id}
    </delete>

    <delete id="deleteKyProjectDeclarationByIds" parameterType="String">
        delete from ky_project_declaration where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>